#root {
    display: flex; /* Changed from inline-flex to flex */
    flex-direction: column; /* Align children in a column layout */
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for full width to be centered */
    width: 100vw; /* Full viewport width by default */
    height: 10vh; /* Height as a percentage of viewport height */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Space between items */
    align-items: center;
    background-color: aqua;
    backdrop-filter: blur(10px);
    padding: 1vh 2vw; /* Responsive padding */
    box-sizing: border-box; /* Include padding in height calculation */
    z-index: 1000;
    transition: width 0.3s ease; /* Smooth transition for width change */
}

.navbar.shrink {
    width: 80vw; /* Shrink the width */
}

.navbar-image {
    margin: 0;
    padding: 0;
}

.navbar-name {
    margin: 0;
    padding: 0;
}

.hamburger {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-links li {
    margin: 0 1vw; /* Responsive margin */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw; /* Responsive font size */
}

.nav-links li a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 12vh; /* Ensure content doesn't hide behind the navbar */
}

/* Media Queries for Small Screens */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: aqua;
        position: absolute;
        top: 10vh; /* Adjust based on navbar height */
        left: 0;
        transition: max-height 0.3s ease-out;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: flex; /* Show the hamburger icon */
    }
}
